# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.env/
*.env

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env

# PyInstaller build
dist/
build/
*.spec
